html {
   
    font-family: 'Roboto', sans-serif;
}
.main {
    padding: 5rem;
    background-color: antiquewhite;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.jumbotron {
    background-color: antiquewhite;
    padding: 40px;
    background-image: url(images/jumbotron-new.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
}

.jumbotronHeading {
    /* text-align: center;s */
    font-size: 10rem;
    font-weight: 600;
    color: darkblue;
    font-family: 'Dancing Script', cursive;
}

.lead {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    color: crimson;
}

.bootstrapMenu, .w3CssMenu {
    text-align: -webkit-center;
}

.menuCard {
    width: 35rem;
    padding-top:2rem;
    padding-bottom:2rem;
}

.card-img-top {
    border: solid 5px black;
}
